<section id="talker">

    <p class="text-danger unsupported hidden">
        Ack! looks like this browser isn't supported :( Unfortunately, you will currently have to try with either Safari or Chrome until Mozilla adds further speechSynthesis support to Firefox.
    </p>

    <p>
        Text to Speech! HTML5 is just the best. Enter some text in the box and hit <span class="text-success"><strong>play</strong></span> to listen to it.
    </p>

    <textarea class="form-control" rows="3" name="talkerText">Try me! Just press "Play"</textarea>

    <div class="button-wrapper">
        <button class="btn btn-large btn-success play">
            <span class="glyphicon glyphicon-play"></span> Play!
        </button>
        <button class="btn btn-large btn-danger cancel" disabled>
            <span class="glyphicon glyphicon-stop"></span> Stop the madness!
        </button>
        <div class="throbber hidden">
            Loading...
        </div>
    </div>

        <p class="text-info">
            You can change some voice options (some only apply to certain voices)
        </p>
        <ul class="range-list">
            <li>
                <label for="pitch">Pitch: <span class="range-value pitch-value"><%= pitch %></span></label>
                <input type="range" name="pitch" id="pitch" min="0" max="2" step="0.1" value="<%= pitch %>">
            </li>
            
            <li>
                <label for="rate">Rate: <span class="range-value rate-value"><%= rate %></span></label>
                <input type="range" name="rate" id="rate" min="0.1" max="10" step="0.1" value="<%= rate %>">
            </li>
            <li>
                <label for="volume">Volume: <span class="range-value volume-value"><%= volume %></span></label>
                <input type="range" name="volume" id="volume" min="0" max="1" step="0.1" value="<%= volume %>">
            </li>
        </ul>

        <br>
        <p class="text-info">
            These are the voices supported by your browser and OS. Click on any of them to try:
        </p>

        <ul id="voice-list">
            <% for(var i=0; i < voices.length; i++) { %>
                <li class="voice-li" data-voice="<%= voices[i].name %>"><%= voices[i].name %></li>
            <% } %>
        </ul>

    <p class="bg-warning">
        Note: sometimes it seems to stop working, and only resumes working if you restart the browser. Not sure why yet.
    </p>

</section>
